# Intake Watcher shared-root development defaults
#
# For Bonny's local setup, DATA_ROOT should point to:
# C:/Users/BonnyMakaniankhondo/Documents/GitHub/NAS/nas-data
DATA_ROOT=../nas-data
INTAKE_MODE=hybrid
STABILITY_SECONDS=1200
POLL_SECONDS=300
STATUS_LOG_HEARTBEAT_SECONDS=900
AUTO_RUN=true
REQUIRE_READY_MARKER=false
READY_MARKERS=READY.txt,.done
ALLOW_SINGLE_FILE_PROMOTION=true
COLLISION_POLICY=block
DESTRUCTIVE_ACTIONS_ENABLED=false
DASHBOARD_HOST=127.0.0.1
DASHBOARD_PORT=8091
